.we-section{
    padding: 149px 9px 117px 5px;
}

.we{
    position: relative;
}

.we__div1{
    width: 526px;
    margin-bottom: 110px;
    padding: 81px 239px 98px 19px;
    background-image: url("../images/we-img1.png");
    background-repeat: no-repeat;
    background-size: 309px 391px;
    background-position: bottom right;
}

.we__title{
    margin-bottom: 4px;
    font-weight: 700;
    font-size: 36px;
    line-height: 53px;
    letter-spacing: 2.304px;
    color: #333333;
}

.we__text{
    margin-bottom: 32px;
    font-family: 'Open Sans';
    font-size: 42px;
    line-height: 49px;
    letter-spacing: 2.688px;
    color: #504E4E;
}

.we__textt-div{
    width: 281px;
    margin-left: 51px;
    position: relative;
    z-index: 100;
}

.we__textt-div::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 2px;
    top: 13px;
    left: -30px;
    margin-top: 2px;
    background: #353535;
}

.we__textt{
    font-family: 'Open Sans',;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    letter-spacing: 1.26px;
    color: #5B5858;
}

.we__img2{
    position: absolute;
    top: 62px;
    left: 433px;
    z-index: -5;
}

.we__img3{
    position: absolute;
    top: 168px;
    left: 643px;
    z-index: -6;
}

.we__div2{
    margin-bottom: 80px;
    position: absolute;
    top: 404px;
    right: -74px;
}